<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>mardown-test</title>

    <link rel="stylesheet" href="/plugins/editormd/css/editormd.css" />
</head>
<h1>editor.md test</h1>

<div id="test-editormd">
                <textarea style="display:none;"  class="form-control" id="content-editormd-markdown-doc" name="content-editormd-markdown-doc">
</textarea>
</div>
<script src="js/jquery.min.js"></script>
<script src="/plugins/editormd/js/editormd.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editormd", {//注意1：这里的就是上面的DIV的id属性值
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/plugins/editormd/lib/",//注意2：你的路径
            saveHTMLToTextarea : true,//注意3：这个配置，方便post提交表单
            toolbarAutoFixed:true,//工具栏自动固定定位的开启与禁用

            /**上传图片相关配置如下*/
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/file/uploadImage/", //注意你后端的上传图片服务地址

            onload: function() {
                // 引入插件 执行监听方法
                editormd.loadPlugin("/plugins/image-handle-paste/image-handle-paste", function(){
                    editor.imagePaste();
                });
            }
        });
    });


</script>
</html>